<html>
<title>mrubyc-ide-Error</title>
<head>
  <meta charset="UTF-8">
  <style>
    #error p {
      font-family: 'Lucida Console';
    }
  </style>

  <link rel="shortcut icon" href="/image/mrubyc.ico">
</head>

<body>
  <h1>コンパイルエラー</h1>
  <p>Try again</p>
  <p>Error massage:</p>
  <div id="error">
    <p>
      <%no = 1%>
      <%for msg in @errormsg do%>
      <%if msg.nil? then%>
      <!-- Nothing -->
      <%else%>
      Program No.<%= no %>:
      <%= msg %>
      <br>
      <%end%>
      <%no += 1%>
      <%end%>
    </p>
  </div>
  <div>
    <button type="button" onclick="window.close();">閉じる</button>
  </div>
</body>
</html>