<html>
<title>mrubyc-ide-Error</title>
<head>
  <meta charset="UTF-8">
  <style>
    #error p {
      font-family: 'Lucida Console';
    }
  </style>

  <link rel="shortcut icon" href="/image/mrubyc.ico">
</head>

<body>
  <h1>コンパイルエラー</h1>
  <p>Try again</p>
  <p>Error massage:</p>
  <div id="error">
    <p>
      <%=@errormsg[0]%>
    </p>
  </div>
  <div>
    <button type="button" onclick="window.close();">閉じる</button>
  </div>
</body>
</html>