<html>
<title>mrubyc-ide for SenStick</title>
<head>
  <meta charset="UTF-8">

  <!-- エディタ関連 -->
  <script src="/lib/codemirror.js"></script>
  <link rel="stylesheet" href="/lib/codemirror.css">
  <link rel="stylesheet" href="/theme/base16-dark.css">
  <script src="/mode/ruby/ruby.js"></script>
  <script src="editor.js"></script>

  <!-- BLE機能 -->
  <script type="text/javascript" src="/ble/bluejelly.js"></script>
  <script type="text/javascript" src="/ble/senstick_app_mrubyc.js"></script>

</head>

<body onload=page_load()>
  <h1>mrubyc開発環境 for SenStick </h1>

  <div>
    mrubyプログラム:<br>
    <textarea id="program" name="program"></textarea>
  </div>

  <script> //シンタックスハイライト機能
    var editor = CodeMirror.fromTextArea(document.getElementById("program"), {
      mode: "ruby",
      lineNumbers: true,
      theme: 'base16-dark'
    });
    editor.setSize("60%", "60%");
    editor.save();
  </script>
  <br>

  <div>
    <%# コンパイル後、BLE転送する場合のボタン %>
    <div id="device_name"></div>
    <div id="device_status">未接続</div>
    <div id="transfer_progress"></div><div id="transfer_result_text"></div>
    <input type="button" value="BLE接続" onClick="scan_onclick()">
    <input type="button" value="SenStickへ転送" onClick="transfer_onclick()">
    パスワード: <input id="password" type="password" size="10" maxlength="15" value="senstickpass">
    （初期パスワードは senstickpass です）
  </div>

  <div>
    <button onclick="save();">ファイルを保存</button>
  </div>

  <hr>

  <div><button onclick="load_sample1()">「LED点滅」をロードする</button></div>
  <div><button onclick="load_sample2()">「温度でLEDを制御」をロードする</button></div>
  <div><button onclick="load_sample3()">「明るさが変化するとLEDが点滅する」をロードする</button></div>


</body>
</html>
